.menu-item {
  display: block;
  text-align: center;
  font-family: var(--font-primary);
  color: var(--color-primary);
  text-decoration: none;
  margin: 10px;
  transition: transform 0.15s;
}

.menu-item:hover {
  transform: scale(1.1);
}
