.menu {
  position: sticky;
  top: 0;
  background-color: white;
  border-radius: 0 0 20px 20px;
  z-index: 3;
  width: 100%;
}

.menu__toolBar {
  display: flex;
  padding: 15px 30px;
  justify-content: space-between;
  align-items: center;
  max-width: 1200px;
  margin: 0 auto;
}

.menu__items {
  display: flex;
  gap: 30px;
  justify-content: center;
  align-items: center;
}

.menu__hamburgerIcon {
  display: none;
}

@media screen and (max-width: 700px) {
  .menu__hamburgerIcon {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 30px;
    gap: 5px;
    cursor: pointer;
  }

  span {
    height: 4px;
    width: 100%;
    background-color: var(--color-secondary);
    border-radius: 2px;
  }

  .menu--opened {
    border-radius: 0;
  }

  .menu__items {
    position: absolute;
    flex-direction: column;
    top: 52px;
    left: 0;
    z-index: 2;
    width: 100%;
    background-color: white;
    border-radius: 0 0 20px 20px;
    padding-bottom: 15px;
    gap: 10px;
  }

  .menu__items--closed {
    display: none;
  }

  span.cross:nth-child(1) {
    transform: translate(0, 9px) rotate(45deg);
    transition: cubic-bezier(0.175, 0.885, 0.32, 1.275) 0.5s;
  }

  span.cross:nth-child(2) {
    transform: scale(0.1);
    transition: cubic-bezier(0.175, 0.885, 0.32, 1.275) 0.5s;
  }

  span.cross:nth-child(3) {
    transform: translate(0, -9px) rotate(135deg);
    transition: cubic-bezier(0.175, 0.885, 0.32, 1.275) 0.5s;
  }

  span.burger {
    transform: translate(0) rotate(0);
    transition: cubic-bezier(0.175, 0.885, 0.32, 1.275) 0.5s;
  }
}



.menu__logo {
  text-decoration: none;
  font-family: var(--font-primary);
  color: var(--color-secondary);
  text-transform: uppercase;
  font-size: 20px;
}
