.cardTest__image {
  width: 100%;
  text-align: center;
  padding: 15px;
}

.cardTest__image img {
  max-width: 150px;
  width: 100%;
}

.cardTest {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  border-radius: 15px;
  background-color: rgba(255, 255, 255, 0.368);
  box-shadow: var(--shadow);
  padding: 30px;
  max-width: 500px;
  width: 100%;
}

.cardTest__info {
  text-align: center;
  margin-top: 8px;
}

@media screen and (min-width: 850px) {
  .cardTest {
    flex-basis: 1fr;
  }
}
