.howItWorks__container {
  counter-reset: list-item;
}

.howItWorks__item {
  padding: 10px;
  display: flex;
  align-items: center;
  gap: 15px;
}

.howItWorks__item::before {
  content: counter(list-item);
  counter-increment: list-item;
  color: var(--color-secondary);
  border: 2px solid var(--color-primary);
  border-radius: 50%;
  width: 50px;
  height: 50px;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  flex: 0 0 auto;
  font-family: var(--font-primary);
  font-size: 25px;
}

.howItWorks__list {
  list-style-type: none;
  text-align: left;
}

.howItWorks__text {
  overflow: hidden;
}

.howItWorks__img {
  display: none;
}
