.answers {
  counter-reset: list-item;
  list-style-type: none;
  text-align: left;
  padding: 20px 0;
  margin-top: 10px;
  display: flex;
  gap: 15px;
  flex-direction: column;
  align-items: stretch;
}

.answers__answer {
  padding: 10px;
  display: flex;
  align-items: center;
  gap: 15px;
}

.answers__answer--selected {
  background-color: rgba(255, 255, 255, 0.138);
  border-radius: 15px;
  box-shadow: var(--shadow);
}

.answers__answer.answers__answer--selected::before {
  background-color: var(--color-secondary);
  color: white;
  box-shadow: none;
}

.answers__answer::before {
  content: counter(list-item, lower-alpha);
  counter-increment: list-item;
  background-color: white;
  color: var(--color-primary);
  box-shadow: var(--shadow);
  border-radius: 50%;
  width: 50px;
  height: 50px;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  flex: 0 0 auto;
  font-family: var(--font-primary);
  font-size: 25px;
}

.answers__answer:hover,
.answers__answer:active {
  background-color: rgba(255, 255, 255, 0.138);
  border-radius: 15px;
  box-shadow: var(--shadow);

}

.answers__answer:hover::before {
  background-color: var(--color-secondary);
  color: white;
  box-shadow: none;
}

.answers__text {
  overflow: hidden;
}
