.swiper {
  width: 100%;
  margin: 20px auto;
  display: flex;
  flex-direction: column;
  gap: 40px;
}

.swiper-slide {
  flex-grow: 1;
  max-width: 600px;
  width: 90%;
  height: auto;
  background-color: var(--color-primary);
  border-radius: 18px;
  font-size: 15px;
  color: #fff;
  padding: 30px 20px;
}

.question__title {
  font-family: var(--font-primary);
}



.swiper-pagination {
  position: static;
}

.swiper-pagination-bullet {
  width: 30px;
  font-family: var(--font-secondary);
  font-weight: bold;
  height: 30px;
  text-align: center;
  line-height: 30px;
  font-size: 12px;
  color: var(--color-secondary);
  opacity: 1;
  background: #4343433d;
}

.swiper-pagination-bullet-active {
  color: white;
  background: var(--color-primary);
}

.swiper-horizontal>.swiper-pagination-bullets .swiper-pagination-bullet,
.swiper-pagination-horizontal.swiper-pagination-bullets .swiper-pagination-bullet {
  margin: 0 var(--swiper-pagination-bullet-horizontal-gap, 4px) 5px;
}
