.swiper {
  max-width: 100%;
}

.swiper-slide {
  flex-grow: 1;
  max-width: 600px;
  width: 70%;
  /* height: 100vh; */
  background-color: var(--color-primary);
  border-radius: 18px;
  font-size: 22px;
  color: #fff;
  padding: 30px;
}

.answers {
  padding: 20px;
  display: flex;
  flex-direction: column;
  align-items: stretch;
}

.question__title {
  font-family: var(--font-primary);
}

.answers {
  list-style-type: none;
  text-align: left;
}

.answers__answer {
  position: relative;
  padding: 15px;
}

.answers__answer::before {
  content: counter(list-item, lower-alpha);
  position: relative;
  left: -10px;
  top: -50%;
  transform: translateY(0);
  background-color: white;
  color: var(--color-primary);
  box-shadow: var(--shadow);
  border-radius: 50%;
  width: 50px;
  height: 50px;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  font-family: var(--font-primary);
  font-size: 25px;
  vertical-align: middle;
  /* Align with the baseline */
  float: left;
  /* margin-left: 10px; */
}

.answers__answer:hover,
.answers__answer:active {
  font-weight: bolder;
  background-color: rgba(255, 255, 255, 0.138);
  border-radius: 15px;
  box-shadow: var(--shadow);

}

.answers__answer:hover::before {
  background-color: var(--color-secondary);
  color: white;
  box-shadow: none;
}

.answers__text {
  overflow: hidden;
}
