.link {
  color: var(--color-secondary);
  font-size: 15px;
  text-decoration: none;
}

.footer__links {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.footer__heading {
  margin-bottom: 15px;
  font-family: var(--font-primary);
  text-transform: uppercase;
}

.footer__source::before {
  content: "";
  height: 0.5px;
  background-color: var(--color-primary);
  display: block;
  margin-bottom: 10px;
  width: 100%;
}

.footer {
  background-color: rgba(255, 255, 255, 0.336);
  padding: 20px;
  border-radius: 20px 20px 0 0;
}

.footer__source {
  text-align: center;
  font-size: 15px;
  margin-top: 10px;
}

@media screen and (min-width: 500px) {
  .footer__links {
    flex-direction: row;
    justify-content: center;
    gap: 40px
  }


}
