.link {
  display: block;
  text-align: center;
  color: var(--color-primary);
}

.footer__heading {
  margin-bottom: 15px;
}

.footer {
  background-color: rgba(255, 255, 255, 0.456);
  padding: 30px;
}
