.aboutPersonality {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
}

.aboutPersonality__heading {
  margin-bottom: 20px;
}

.aboutPersonality__info {
  margin-bottom: 20px;
  text-align: left;
}

.aboutPersonality__infoDesktop {
  display: none;
}

.aboutPersonality__img {
  display: none;
}

@media screen and (min-width: 850px) {
  .aboutPersonality {
    margin-top: 10px;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 20px;
  }

  .aboutPersonality__info {
    margin-bottom: 10px;
    text-align: left;
  }

  .aboutPersonality__infoDesktop {
    display: block;
    text-align: left;
    margin-bottom: 20px;
  }



  .aboutPersonality__img {
    display: block;
    flex-basis: 25%;
    width: 100%;
    flex-shrink: 0;
  }

  .aboutPersonality__img img {
    width: 100%;
    max-width: 200px;
  }
}
