@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;600&family=Rubik:wght@800&display=swap');

:root {
  --font-primary: 'Rubik', sans-serif;
  --font-secondary: 'Open Sans', sans-serif;
  --color-primary: #968BC8;
  --color-secondary: #434343;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}



html {
  font-family: var(--font-secondary);
  color: var(--color-secondary);
}

body {
  background: rgb(171, 233, 248);
  background: linear-gradient(173deg, rgba(171, 248, 231, 0.4951923076923077) 2%, rgba(172, 166, 198, 0.5408653846153846) 98%);
  padding: 50px 50px;
}

h1,
h2 {
  font-family: var(--font-primary);
  margin: 15px 0;
}

main {
  max-width: 1000px;
  margin: 0 auto;
}

.button {
  margin-top: 15px;
  border: none;
  padding: 10px 20px;
  font-family: var(--font-secondary);
  font-size: 15px;
  border-radius: 15px;
  box-shadow: 3px 3px 10px hsla(0, 0%, 23%, 0.301);
}

section {
  margin: 30px;
}
