@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;600&family=Rubik:wght@800&display=swap');

:root {
  --font-primary: 'Rubik', sans-serif;
  --font-secondary: 'Open Sans', sans-serif;
  --color-primary: #968BC8;
  --color-secondary: #434343;
  --shadow: 3px 3px 10px hsla(0, 0%, 23%, 0.301);
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}


html {
  font-family: var(--font-secondary);
  color: var(--color-secondary);
  scroll-padding-top: 70px;
}

body {
  background: rgb(171, 233, 248);
  background: linear-gradient(173deg, rgba(171, 248, 231, 0.4951923076923077) 2%, rgba(172, 166, 198, 0.5408653846153846) 98%);
}

.content {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 40px;
}

@media screen and (max-width: 500px) {
  .content {
    padding: 0 20px;
  }
}


h1,
h2 {
  font-family: var(--font-primary);
  margin: 15px 0;
}



h1,
h2,
h3,
h4 {
  text-align: center;
}

h2 {
  font-size: 30px;
}

main {
  margin: 0 auto;
  text-align: center;
}

section {
  margin: 80px auto 20px auto;
}
