.resultCard {
  border-radius: 15px;
  background-color: rgba(255, 255, 255, 0.368);
  box-shadow: var(--shadow);
  padding: 30px;
  width: 100%;
  margin: 30px auto;
}

.resultCard__permanent {
  display: flex;
  flex-direction: column;
  gap: 20px;
  align-items: center;
  justify-content: center;
}

.resultCard__title {
  font-size: 20px;
  font-family: var(--font-primary);
  margin-bottom: 20px;
}

.buttonShare {
  display: flex;
  gap: 10px;
  align-items: center;
  justify-content: space-between;
}

.buttonShare__image img {
  width: 100%;
  max-width: 15px;
}

.resultCard__img {
  display: none;
}

@media screen and (min-width: 850px) {
  .resultCard {
    display: flex;
    justify-content: space-between;
    align-items: stretch;
    gap: 20px;
  }

  .resultCard__permanent {
    min-height: 100%;
    flex-basis: 60%;
    flex-grow: 1;
    justify-content: space-between;
  }

  .resultCard__img {
    display: block;
    flex-shrink: 1;
    text-align: right;
  }

  .resultCard__img img {
    max-width: 100%;
    max-height: 400px;
  }
}
